@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  color:var(--text-color);
  background-color: var(--body-color);
}
.app,
#root {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 1rem;
  background-color: var(--accent-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  transition-property: box-shadow;
  outline: none;
}

main{
  margin: auto;
  max-width: 1100px;
}