.navbar {
  height: 60px;
  padding: 1rem 2rem;
  background-color: $nav-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .logo{
    a{
      text-decoration: none;
    }
  }
  h3 {
    display: inline;
    color: var(--text-color);
  }
}

@include media(500px) {
  .navbar {
    padding: 5%;
  }
}