.pagination-control {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  .page-button {
    display: inline-flex;
    align-items: center;
    margin: 0 0.2rem;
    &:disabled {
      // filter: saturate(0.5);
      background-color: #7c7c7c;
      opacity: .8;
      cursor: not-allowed;
    }
  }
  .current-page {
    color: var(--text-color);
    margin: 0 0.3rem;
  }
}
